.pre-booking-login-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-darkblue);
}
.pre-booking-login-page-container1 {
  width: 1030px;
  height: 386px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primary-brown);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.pre-booking-login-page-text {
  color: var(--dl-color-primary-white);
  font-size: 50px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  padding-top: 0px;
}
.pre-booking-login-page-container2 {
  width: 665px;
  height: 114px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pre-booking-login-page-container3 {
  display: flex;
  align-items: center;
  border-color: var(--dl-color-primary-brown);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.pre-booking-login-page-navlink {
  color: var(--dl-color-primary-white);
  font-size: 20px;
  font-family: Roboto;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: transparent;
}
.pre-booking-login-page-container4 {
  display: flex;
  align-items: center;
  border-color: var(--dl-color-primary-brown);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.pre-booking-login-page-navlink1 {
  font-size: 20px;
  font-family: Roboto;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: transparent;
}
.pre-booking-login-page-text1 {
  color: var(--dl-color-primary-brown);
}
.pre-booking-login-page-text2 {
  font-size: 22px;
}
.pre-booking-login-page-text3 {
  color: var(--dl-color-primary-brown);
}
.pre-booking-login-page-text4 {
  color: var(--dl-color-gray-black);
}
