<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Information</title>
  </head>
  <body>


      <div class="row mt-4">
        
        <div class="col-md-4">
          <a href="{% url 'escapp:booking' %}"><button>Booking form</button></a>
          <a href="{% url 'escapp:booklogin' %}"><button>Log In</button></a>
          <h2>Please confirm that this is the room which you would like to book.</h2>
          
        </div>
        
      </div>
    </div>
    <style></style>
  </body>
</html>

