.book-his-instance-content-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-primary-brown);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.book-his-instance-text {
  color: var(--dl-color-primary-white);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.book-his-instance-text1 {
  color: var(--dl-color-primary-white);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.book-his-instance-text2 {
  color: var(--dl-color-primary-white);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 767px) {
  .book-his-instance-content-container {
    align-items: center;
  }
}
