<div>
  <link href="./filter-container.css" rel="stylesheet" />
  <div class="filter-container-filter-container">
    <select class="filter-container-select">
      <option value="No Preference">Amenities</option>
      <option value="1 Star">1 Star</option>
      <option value="3 Star">3 Star</option>
      <option value="2 Star">2 Star</option>
      <option value="4 Star">4 Star</option>
      <option value="5 Star">5 Star</option>
    </select>
    <select class="filter-container-select1">
      <option value="No Preference">Price</option>
      <option value="Below $100">Below $100</option>
      <option value="Above $200">Above $200</option>
      <option value="$100 - $200">$100 - $200</option>
    </select>
    <select class="filter-container-select2">
      <option value="This needs to be a selection">Rating</option>
      <option value="1 Star">1 Star</option>
      <option value="3 Star">3 Star</option>
      <option value="2 Star">2 Star</option>
      <option value="4 Star">4 Star</option>
      <option value="5 Star">5 Star</option>
    </select>
    <button class="filter-container-button button"><span>Filter</span></button>
  </div>
</div>
