.hotel2container-hotel2container {
  flex: 0 0 auto;
  width: 1031px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 75px;
}
.hotel2container-room-container {
  width: auto;
  height: 229px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-brown);
  border-width: 1px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.hotel2container-image {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.hotel2container-container {
  width: 594px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 0px;
}
.hotel2container-text1 {
  color: var(--dl-color-primary-white);
  font-size: 35px;
  font-family: Roboto;
}
.hotel2container-text2 {
  color: var(--dl-color-primary-white);
  font-size: 23px;
  font-family: Roboto;
}
.hotel2container-text3 {
  color: var(--dl-color-primary-white);
  font-size: 23px;
  font-family: Roboto;
}
.hotel2container-container1 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  border-color: var(--dl-color-primary-brown);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
}
.hotel2container-navlink {
  color: var(--dl-color-primary-brown);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  font-size: 22px;
  align-self: flex-end;
  text-align: center;
  align-items: center;
  font-family: Roboto;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: capitalize;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
}
.hotel2container-text4 {
  align-self: center;
}
.hotel2container-root-class-name {
  margin-bottom: 0px;
}
.hotel2container-root-class-name1 {
  margin-bottom: 0px;
}
