<div>
  <link href="./hotel-container.css" rel="stylesheet" />
  <div class="hotel-container-hotel-container">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="hotel-container-image"
    />
    <div class="hotel-container-container">
      <span><span></span></span>
      <h1 class="hotel-container-text1"><span>Hotel Name</span></h1>
      <span><span>Location</span></span>
      <span><span>Rating</span></span>
      <span><span>Price</span></span>
    </div>
    <button class="hotel-container-button button">
      <span class="hotel-container-text5"><span>More Info</span></span>
    </button>
  </div>
</div>
