<div>
  <link href="./hotel2container.css" rel="stylesheet" />
  <div class="hotel2container-hotel2container">
    <div class="hotel2container-room-container">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="hotel2container-image"
      />
      <div class="hotel2container-container">
        <span><span></span></span>
        <h1 class="hotel2container-text1"><span>Hotel Name</span></h1>
        <span class="hotel2container-text2"><span>Price</span></span>
        <span class="hotel2container-text3"><span>Pax Allowable</span></span>
      </div>
      <div class="hotel2container-container1">
        <a href="hotel-info-page.html" class="hotel2container-navlink button">
          <span class="hotel2container-text4"><span>Details</span></span>
        </a>
      </div>
    </div>
  </div>
</div>
