<div>
  <link href="./room-container.css" rel="stylesheet" />
  <div class="room-container-room2container">
    <div class="room-container-room-container">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="room-container-image"
      />
      <div class="room-container-container">
        <span><span></span></span>
        <h1 class="room-container-text1"><span>Room Name</span></h1>
        <span class="room-container-text2"><span>Price</span></span>
        <span class="room-container-text3"><span>Pax Allowable</span></span>
      </div>
      <div class="room-container-container1">
        <a href="booking-form-page.html" class="room-container-navlink button">
          <span class="room-container-text4"><span>Book</span></span>
        </a>
      </div>
    </div>
  </div>
</div>
