<div>
  <link href="./room-container.css" rel="stylesheet" />
  <div class="room-container-room2container">
    <div class="room-container-room-container">
      <div class="room-container-container">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="room-container-image"
        />
        <div class="room-container-container1">
          <span class="room-container-text"><span>Room Name</span></span>
          <span class="room-container-text01"><span>Price</span></span>
          <span class="room-container-text02"><span>Description</span></span>
        </div>
        <div class="room-container-container2">
          <a
            href="booking-form-page.html"
            class="room-container-navlink button"
          >
            <span class="room-container-text03"><span>Book</span></span>
          </a>
        </div>
      </div>
      <div class="room-container-container3">
        <span class="room-container-text05"><span>Internet</span></span>
        <span class="room-container-text06"><span>Bathroom</span></span>
        <span class="room-container-text07"><span>Practical</span></span>
        <span class="room-container-text08"><span>Comfort</span></span>
        <span class="room-container-text09"><span>Non-smoking</span></span>
        <span class="room-container-text10"><span>Points</span></span>
        <span class="room-container-text11"><span>Size</span></span>
        <span class="room-container-text12"><span>Max Cash Payment</span></span>
        <span class="room-container-text13"><span>Lowest Price</span></span>
        <span class="room-container-text14"><span>Chargeable Rate</span></span>
        <span class="room-container-text15">
          <span>Free Cancellation</span>
        </span>
        <span class="room-container-text16"><span>Amenities</span></span>
      </div>
    </div>
  </div>
</div>
