<div>
  <link href="./search-container.css" rel="stylesheet" />
  <div class="search-container-search-container">
    <div class="search-container-destination">
      <span class="search-container-text"><span>Destination</span></span>
      <input
        type="text"
        placeholder="placeholder"
        class="search-container-input input"
      />
    </div>
    <div class="search-container-container">
      <div class="search-container-start">
        <span class="search-container-text1"><span>Start Date</span></span>
        <input
          type="text"
          placeholder="placeholder"
          class="search-container-textinput input"
        />
      </div>
      <div class="search-container-end">
        <span class="search-container-text2"><span>End Date</span></span>
        <input
          type="text"
          placeholder="placeholder"
          class="search-container-textinput1 input"
        />
      </div>
    </div>
    <div class="search-container-container1">
      <div class="search-container-rooms">
        <span class="search-container-text3"><span>Rooms</span></span>
        <input
          type="text"
          placeholder="placeholder"
          class="search-container-textinput2 input"
        />
      </div>
      <div class="search-container-pax">
        <span class="search-container-text4"><span>Pax</span></span>
        <input
          type="text"
          placeholder="placeholder"
          class="search-container-textinput3 input"
        />
      </div>
    </div>
    <div class="search-button-container search-button-root-class-name">
      <div class="search-button-container1">
        <button class="search-button-button button">
          <span>
            <span>Search</span>
            <span class="search-button-text2"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
