.search-button-container {
  display: flex;
  position: relative;
}
.search-button-container1 {
  display: flex;
  border-color: var(--dl-color-primary-brown);
  border-width: 1px;
}
.search-button-button {
  color: var(--dl-color-primary-brown);
  font-size: 20px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.search-button-text2 {
  background-color: #fce181ff;
}
.search-button-root-class-name {
  align-self: flex-end;
}
.search-button-root-class-name1 {
  left: 0px;
  bottom: 0px;
  position: 0px;
  align-self: flex-end;
}
.search-button-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: 0px;
  align-self: flex-end;
}
.search-button-root-class-name3 {
  align-self: flex-end;
}

.search-container-search-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-brown);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.search-container-destination {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.search-container-text {
  color: var(--dl-color-primary-brown);
  align-self: flex-start;
  font-family: Roboto;
  margin-right: 0px;
}
.search-container-input {
  width: 100%;
  border-width: 0px;
  margin-right: 0px;
}
.search-container-container {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  margin-right: var(--dl-space-space-doubleunit);
}
.search-container-start {
  width: 200px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.search-container-text1 {
  color: var(--dl-color-primary-brown);
  align-self: flex-start;
  font-family: Roboto;
  margin-right: 0px;
}
.search-container-textinput {
  width: 100%;
  border-width: 0px;
  margin-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-container-end {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.search-container-text2 {
  color: var(--dl-color-primary-brown);
  align-self: flex-start;
  font-family: Roboto;
  margin-right: 0px;
}
.search-container-textinput1 {
  width: 100%;
  border-width: 0px;
  margin-right: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-container-container1 {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: var(--dl-space-space-tripleunit);
}
.search-container-rooms {
  width: 100px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.search-container-text3 {
  color: var(--dl-color-primary-brown);
  align-self: flex-start;
  font-family: Roboto;
  margin-right: 0px;
}
.search-container-textinput2 {
  width: 100%;
  border-width: 0px;
  margin-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-container-pax {
  flex: 0 0 auto;
  width: 100px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.search-container-text4 {
  color: var(--dl-color-primary-brown);
  align-self: flex-start;
  font-family: Roboto;
  margin-right: 0px;
}
.search-container-textinput3 {
  width: 100%;
  border-width: 0px;
  margin-right: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
