<div>
  <link href="./search-con.css" rel="stylesheet" />
  <div class="search-con-container">
    <div class="search-con-search-container">
      <div class="search-con-destination">
        <span class="search-con-text"><span>Destination</span></span>
        <input
          type="text"
          placeholder="placeholder"
          class="search-con-input input"
        />
      </div>
      <div class="search-con-container1">
        <div class="search-con-start">
          <span class="search-con-text1"><span>Start Date</span></span>
          <input
            type="text"
            placeholder="placeholder"
            class="search-con-textinput input"
          />
        </div>
        <div class="search-con-end">
          <span class="search-con-text2"><span>End Date</span></span>
          <input
            type="text"
            placeholder="placeholder"
            class="search-con-textinput1 input"
          />
        </div>
      </div>
      <div class="search-con-container2">
        <div class="search-con-rooms">
          <span class="search-con-text3"><span>Rooms</span></span>
          <input
            type="text"
            placeholder="placeholder"
            class="search-con-textinput2 input"
          />
        </div>
        <div class="search-con-pax">
          <span class="search-con-text4"><span>Pax</span></span>
          <input
            type="text"
            placeholder="placeholder"
            class="search-con-textinput3 input"
          />
        </div>
      </div>
      <div class="search-button-container search-button-root-class-name3">
        <div class="search-button-container1">
          <button class="search-button-button button">
            <span>
              <span>Search</span>
              <span class="search-button-text2"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="search-con-filter-container">
      <select class="search-con-select">
        <option value="No Preference">Amenities</option>
        <option value="1 Star">1 Star</option>
        <option value="3 Star">3 Star</option>
        <option value="2 Star">2 Star</option>
        <option value="4 Star">4 Star</option>
        <option value="5 Star">5 Star</option>
      </select>
      <select class="search-con-select1">
        <option value="No Preference">Price</option>
        <option value="Below $100">Below $100</option>
        <option value="Above $200">Above $200</option>
        <option value="$100 - $200">$100 - $200</option>
      </select>
      <select class="search-con-select2">
        <option value="This needs to be a selection">Rating</option>
        <option value="1 Star">1 Star</option>
        <option value="3 Star">3 Star</option>
        <option value="2 Star">2 Star</option>
        <option value="4 Star">4 Star</option>
        <option value="5 Star">5 Star</option>
      </select>
      <div class="search-con-container3">
        <button class="search-con-button button"><span>Filter</span></button>
      </div>
    </div>
  </div>
</div>
